* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  background: url(../assets/1-25.jpg);
  
 

}
.navbar {
  display: flex;
  background-color: rgb(188, 196, 52);
 	
}
nav i {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.75);
  
}

main {
  padding-bottom: 5px;
}

.carousel-caption {
  background-color: rgba(198, 220, 141, 0.603);
  border-radius: 15px;
}
.hero {
  margin-top: 5px;
}
.banner1 {
 padding: 10px;
  text-align: center;
  background-color: rgb(188, 196, 52);
  
  
}
#artPag1{
    display: flex;
    
 }

#art1 {
  flex-grow: 1;
  background-color: rgba(197, 220, 141);
  
}

#art2 {
  flex-grow: 1;
  background-color:rgba(197, 220, 141);
  
}
#art3 {
  flex-grow: 1;
  background-color: rgba(197, 220, 141);
  
  
}
img {
 float: right;
 border-radius: 5px;
  
}


.seccionNos{
  display: flex;
  
  }
  
#articuloNos1{
  flex-grow: 1;
  background-color: rgba(197, 220, 141);
  
  
}

#articuloNos2{
  flex-grow: 1;
  background-color: rgba(197, 220, 141);
  padding-top: 1rem;
}

#seccionServicio{
  display: flex;
  
  }
#artServicio{
  flex-grow: 1;
  background-color: rgba(197, 220, 141);
  
  
}



footer{
  display: flex;
   background-color: rgb(188, 196, 52);
  
}
.left {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}
.right {
display: flex;
align-items: center;
justify-content: center;

 
}

#formContacto{
  align-items: center;
}

form {
  flex-grow: 1;
  background-color: rgba(197, 220, 141);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  
   
}

