* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  background: url(../assets/1-26.jpg);
  
 

}
.navbar {
  display: flex;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
 	
}
nav i {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.75);
  
}

main {
  padding-bottom: 5px;
}

.carousel-caption {
  background-color: rgba(141, 204, 220, 0.603);
  border-radius: 15px;
}
.hero {
  margin-top: 5px;
}
.banner1 {
 padding: 10px;
  text-align: center;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
 
  
  
}
#artPag1{
    display: flex;
    
 }

#art1 {
  flex-grow: 1;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  
}

#art2 {
  flex-grow: 1;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  
}
#art3 {
  flex-grow: 1;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  
  
}
img {
 float: right;
 border-radius: 5px;
  
}


.seccionNos{
  display: flex;
  
  }
  
#articuloNos1{
  flex-grow: 1;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  
  
}

#articuloNos2{
  flex-grow: 1;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  padding-top: 1rem;
}

#seccionServicio{
  display: flex;
  
  }
#artServicio{
  flex-grow: 1;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  
  
}



footer{
  display: flex;
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
  
}
.left {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}
.right {
display: flex;
align-items: center;
justify-content: center;

 
}

#seccionContacto{
  display: flex;
  justify-content: space-between;
}

form {
 flex-direction: column;
 
  

}
#form1{
  background: linear-gradient(135deg, rgba(59, 195, 207, 0.664) 10% ,rgb(119, 192, 199) 45%, rgb(172, 217, 221) 100%);
height: 600px;
margin-top: 3px;
margin-bottom: 3px;
}
#mapa{
  display: flex;
  margin-block: 3px;
  justify-content: end;
 
}
.titulo{
font-size: 1.5rem;
padding-left: 50px;
padding-top: 20px;

}

